body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.logoNav{
    font-family: 'Lilita One', cursive;
    font-size: 30px;
}

.imgUserFinanc{
    width: 280px;
}

HEAD
.titulo{
    font-family: 'Black Han Sans', cursive;
    font-size: 60px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
  }

.Dedoarriba{
    color: red;
}

.carafeliz{
    color: blue;
}

.signopeso{
    color: green;
}

.imagencarrouselprincipal{
    object-fit: cover;
    height: 250px;
}
.cardsbajoslider{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    }

/* dispositivos lg */
@media all and (min-width:420px ){
    .imagencarrouselprincipal{
        
        height: 300px;
    }
   
   
}
@media all and (min-width:1025px){
    .cardsbajoslider{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        }
    .cardbajosliderinterior{
        height: 200px;
        margin-left: 20px;
        margin-right: 20px;
    }
}